.users-container
  display: table-cell
  min-width: 200px
  height: 100%
  background: $background-color-light

  h2
    text-align: center
    padding: 5px 0
    @include background-gradient()

.users-list
  list-style-type: none
  padding: 0
  font-size: 1.6rem

  .current
    font-weight: 600

  li
    padding: 2px 10px
    line-height: 2.4rem
