$color-text: #ffffff
$color-error: #d54e21

$background-color: rgb(33, 117, 155)
$background-color-light: rgba(33, 117, 155, 0.4)
$overlay-color: rgb(70,70,70)
$overlay-color-light: rgba(70, 70, 70, 0.2)
$chat-background-color: #f7f7f7

$fa-font-path: "../assets/fonts"
$fa-font-size-base: 10px

$small-screen: 767px